<!DOCTYPE html>
@model PostViewModel
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="content">
            <div class="navbar">
                <a asp-controller="Posts" asp-action="Index">Posts</a>
                <a asp-controller="About" asp-action="Index">About</a>
                <a asp-controller="Home" asp-action="Index" class="big">JapanWanderer</a>
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </header>

    <main>
        <div class="pageContent">

            <div class="mainContent">
                @RenderBody()
            </div>

            <div class="sidebar">
                <h1>Browse by year and month</h1>
                <ul class="yearList">
                    <li class="dropdown">
                        <span class="year">2023</span>
                        <ul class="dropdown-content">
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                            <li>November</li>
                            <li>December</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span class="year">2022</span>
                        <ul class="dropdown-content">
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                            <li>November</li>
                            <li>December</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span class="year">2021</span>
                        <ul class="dropdown-content">
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                            <li>November</li>
                            <li>December</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span class="year">2020</span>
                        <ul class="dropdown-content">
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                            <li>November</li>
                            <li>December</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <span class="year">2019</span>
                        <ul class="dropdown-content">
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                            <li>November</li>
                            <li>December</li>
                        </ul>
                    </li>
                    <!-- Repeat the above structure for other years -->
                </ul>

            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>