<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="content">
            <div class="navbar">
                <a asp-controller="Posts" asp-action="Index">Posts</a>
                <a asp-controller="About" asp-action="Index">About</a>
                <a asp-controller="Home" asp-action="Index" class="big">JapanWanderer</a>
                <a asp-controller="Home" asp-action="Login">Login</a>
                <a asp-controller="Home" asp-action="Login">Search</a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
        <!-- <sidebar /> -->
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>