* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
    color: white;
}

/* navbar */

.content {
    background-color: #181818;
    user-select: none;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 70vw;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.big {
    font-size: 4rem;
}

li a:not(.big):hover {
    color: red;
}
/* navbar */



