@model PostViewModel

<form asp-action="Insert" method="post">

    <div asp-validation-summary="All"></div>

    <div>
        <div>
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Id" type="hidden" />
            <input asp-for="Post.Title" />
            <span asp-validation-for="Post.Title"></span>
        </div>
    </div>
    
    <div>
        <div>
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content"></textarea>
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Add Post" />
        </div>
    </div>

</form>