@model PostViewModel

<link rel="stylesheet" href="~/css/Posts/CreatePost.css " asp-append-version="true" />


<div class="allPage">


    <div class="mainContent">

        <form asp-action="Insert" method="post" class=newPost>

            <div asp-validation-summary="All"></div>

            <h1>Create a new post</h1>
            <div class="postTitle">
                <input asp-for="Post.Id" type="hidden" />
                <input asp-for="Post.Title" placeholder="Title" />
                <span asp-validation-for="Post.Title"></span>
            </div>
            
            <div class="postContent">
                <textarea asp-for="Post.Content" placeholder="Tell us your travel experience"></textarea>
            </div>

            <div>
                <button type="submit" value="Add Post"> Add Post </button>
            </div>

        </form>
    </div>

    <div class="sidebar">
        <h1>Browse by year and month</h1>
        <ul class="yearList">
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2023" class="year">2023</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2022" class="year">2022</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2021" class="year">2021</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2020" class="year">2020</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2019" class="year">2019</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <!-- Repeat the above structure for other years -->
        </ul>

    </div>

</div>