@model PostViewModel

<link rel="stylesheet" href="~/css/Posts/CreatePost.css " asp-append-version="true" />

<form asp-action="Insert" method="post" class=newPost>

    <div asp-validation-summary="All"></div>
    
    <h1>Create a new post</h1>
    <div class="postTitle">
            <input asp-for="Post.Id" type="hidden" />
            <input asp-for="Post.Title" placeholder="Title"/>
            <span asp-validation-for="Post.Title"></span>
    </div>
    
    <div class="postContent">
        <textarea asp-for="Post.Content" placeholder="Tell us your travel experience"></textarea>
    </div>

    <div>
        <button type="submit" value="Add Post"> Add Post </button>
    </div>

</form>