@{
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/Posts/Index.css " asp-append-version="true" />

@model PostViewModel

<div class="allPage">

    <a asp-controller="Posts" asp-action="NewPost" class="newPostTitle">New Post</a>

    <div class="postList">
        @foreach (var p in Model.PostList)
        {
            <div class="post">
                <div class="postHeader">
                    <h2><a asp-controller="Posts" asp-action="ViewPost" asp-route-id="@p.Id">@p.Title</a></h2>
                    <h5>@p.UpdatedAt</h5>
                </div>
                <p>@p.Content</p>
            </div>
        }
    </div>




</div>