@using Microsoft.AspNetCore.Identity
@using MvcBlog.Areas.Identity.Data

@inject SignInManager<MvcBlogUser> SignInManager
@inject UserManager<MvcBlogUser> UserManager

@{
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/Posts/Index.css " asp-append-version="true" />

@model PostViewModel

<div class="allPage">

    <div class="mainContent">

        <div class="topContent">
        @if(User.IsInRole("Admin")){
            <a asp-controller="Posts" asp-action="NewPost" class="newPostTitle">New Post</a>
        }
        else {
            <div></div> <!-- Empty div to take up space -->
        }
            <form asp-controller="Posts" asp-action="searchByKeyword" method="get" class="searchForm">
                <input type="text" class="search" name="keyword" placeholder="Search">
                <input type="submit" value="Search" style="display: none;">
            </form>
        </div>


        <div class="postList">
            @foreach (var p in Model.PostList)
            {
                <div class="post">
                    <div class="postHeader">
                        <h2><a asp-controller="Posts" asp-action="ViewPost" asp-route-id="@p.Id">@p.Title</a></h2>
                        <h5>@p.CreatedAt</h5>
                    </div>
                    <p>@p.Content</p>
                </div>

                
                <div class="lineController">
                    <div class="line"></div>
                </div>
            }
        </div>
    </div>


    <div class="sidebar">
        <h1>Browse by year and month</h1>
        <ul class="yearList">
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2023" class="year">2023</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2023" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2022" class="year">2022</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2022" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2021" class="year">2021</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2021" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2020" class="year">2020</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2020" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a asp-controller="Posts" asp-action="SearchByYear" asp-route-year="2019" class="year">2019</a>
                <ul class="dropdown-content">
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="1">January</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="2">February</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="3">March</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="4">April</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="5">May</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="6">June</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="7">July</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="8">August</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="9">September</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="10">October</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="11">November</a></li>
                    <li><a asp-controller="Posts" asp-action="SearchByMonth" class="month" asp-route-year="2019" asp-route-month="12">December</a></li>
                </ul>
            </li>
            <!-- Repeat the above structure for other years -->
        </ul>

    </div>




</div>