@using Microsoft.AspNetCore.Identity
@using MvcBlog.Areas.Identity.Data

@inject SignInManager<MvcBlogUser> SignInManager
@inject UserManager<MvcBlogUser> UserManager

@{
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/Posts/Index.css " asp-append-version="true" />

@model PostViewModel

<div class="allPage">

    <div class="mainContent">

        <div class="topContent">
        @if(User.IsInRole("Admin")){
            <a asp-controller="Posts" asp-action="NewPost" class="newPostTitle">New Post</a>
        }
        else {
            <div></div> <!-- Empty div to take up space -->
        }
            <form asp-controller="Posts" asp-action="searchByKeyword" method="get" class="searchForm">
                <input type="text" class="search" name="keyword" placeholder="Search">
                <input type="submit" value="Search" style="display: none;">
            </form>
        </div>


        <div class="postList">
            @foreach (var p in Model.PostList)
            {
                <div class="post">
                    <div class="postHeader">
                        <h2><a asp-controller="Posts" asp-action="ViewPost" asp-route-id="@p.Id">@p.Title</a></h2>
                        <h5>@p.CreatedAt</h5>
                    </div>
                    <p>@p.Content</p>
                </div>
            }
        </div>
    </div>


    <div class="sidebar">
        <h1>Browse by year and month</h1>
        <ul class="yearList">
            <li class="dropdown">
                <span class="year">2023</span>
                <ul class="dropdown-content">
                    <li>January</li>
                    <li>February</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </li>
            <li class="dropdown">
                <span class="year">2022</span>
                <ul class="dropdown-content">
                    <li>January</li>
                    <li>February</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </li>
            <li class="dropdown">
                <span class="year">2021</span>
                <ul class="dropdown-content">
                    <li>January</li>
                    <li>February</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </li>
            <li class="dropdown">
                <span class="year">2020</span>
                <ul class="dropdown-content">
                    <li>January</li>
                    <li>February</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </li>
            <li class="dropdown">
                <span class="year">2019</span>
                <ul class="dropdown-content">
                    <li>January</li>
                    <li>February</li>
                    <li>March</li>
                    <li>April</li>
                    <li>May</li>
                    <li>June</li>
                    <li>July</li>
                    <li>August</li>
                    <li>September</li>
                    <li>October</li>
                    <li>November</li>
                    <li>December</li>
                </ul>
            </li>
            <!-- Repeat the above structure for other years -->
        </ul>

    </div>




</div>