main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .allPage {
    background-color: #181818;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    width: 70vw;
}

main .homeImage {
    width: 100%;
    height: 65vh;
    background-image: url(../../images/homeImage.jpg);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}

main .exploreCities{
    margin: 2rem 0;
}

main .exploreCities h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

main .exploreCitiesImgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .exploreCitiesImgCard {
    gap: 1rem;
    font-size: large;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .exploreCities img {
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
