@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>

<div class="container">
    <form action="">
        <h1>Login</h1>
        <div>
            <label>Username/Email</label>
            <input type="email"> <br>
        </div>
        <div>
            <label>Password</label>
            <input type="password"> <br>
        </div>
        <button>Login</button>
    </form>
</div>